<!DOCTYPE html>
<html>
<head>
    <title>Student Data Input</title>
</head>
<body>
    <h1>Enter Student Data</h1>
    <form method="POST" action="/submit_form">
        Student Name: <input type="text" name="student_name"><br>
        Date of Record: <input type="date" name="date_of_record"><br>
        Research Papers: <input type="number" name="research_papers"><br>
        Subjects: <input type="number" name="subjects"><br>
        Passed: <input type="number" name="passed"><br>
        Failed: <input type="number" name="failed"><br>
        Average: <input type="number" name="average"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>